/* button css start here */
.btn {
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/* Variants */
.primary {
  background: #1976d2;
  color: white;
}

.secondary {
  background: gray;
  color: white;
}

/* Sizes */
.small {
  padding: 6px 12px;
}

.medium {
  padding: 10px 20px;
}

.large {
  padding: 14px 28px;
}
/* button css ends here */

/* Input starts here
 */